body {
  font-family: 'Open Sans', sans-serif;
  
}

.corpo {
  width: 960px;
  margin: auto;
  background-color: rgb(100, 233, 140);
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
}

.conteudo {
  display: table;
}

.image {
  display: table-cell;
  float: left;
}

.texto {
  display: table-cell;
  float: left;
  width: 300px;
}

 